* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #EBEBEB;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
}

nav {
    background: #322E41;

}

.nav_content {
    display: flex;
    justify-content: space-between;
    align-items: center;



    .nav_list {
        display: flex;
    }

    .nav_link {
        color: #fff;
        padding: 23px 22px;
        display: inline-block;
        transition: .5s;

        &:hover {
            background: #FFFFFF;
            color: #D47300;
        }
    }
}

/* ------------------------- header start */

.header_banner {
    background: url(./banner.png) no-repeat center center/cover;
    height: 500px;
    display: flex;
}

.header_content {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    


    
    h1 {
        color: #fff;
        font-size: 50px;
    }



    p {
        font-size: 18px;
        color: #fff;
        margin: 10px;
    }
}
/* ------------praduct start */
.praduct_card{
    max-width: 540px ;
    width: 100%;
    background: #fff;
    padding: 15px;

    .praduct_title{
            font-size: 22px;
            font-weight: 700;
            margin: 20px 0 10px 0;
}
.praduct_text{
    color: 9b9b9b;
}
}
.praduct_mini{
    max-width: 255px;
    width: 100%;
    padding: 15px;
    background: #fff;
    text-align: center;
    border-radius: 6px;

    img{
        
        border-radius: 50%;
       padding: 20px 8px;
    }
    h2{
        font-size: 21px;
        font-weight: 600;
        margin-bottom: 10px;
        margin-top: 15px;
    }
    p{
        color: #9b9b9b;
    }
}
.praduct_cards{
    display: flex;
    max-width: 540px;
    width: 100%;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}
.praduct_content{
    display: flex;
    justify-content: space-between;
    margin-top: -30px;
}
/* -----------footer start */
form{
    max-width: 350px;
    width: 100%;
display: flex;
flex-direction: column;
gap: 10px;
input{
    padding: 10px;
    bottom: none;
    outline: none;
}
textarea{
    bottom: none;
    outline: none;
    padding: 10px;
    resize: none;
    height: 86px;
    border-radius: 6px;
}
button{
    bottom: none;
    outline: none;
    padding: 9px 0;
    background: #544294;
    border-radius: 6px;
    color: #fff;

}
}
footer{
    background: #322E41;
    padding: 40px 0;
    margin-top: 30px;
}
.footer_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_links{
    display: flex;
    gap: 73px;
    ul{
        li{
            a{
                color: #fff;
                transition: .5s;

                &:hover{
                    color: #D47300;
                }
            }
        }
    }
}